In [46]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [47]:
# Modificamos los parámetros de los gráficos en matplotlib
from matplotlib.pyplot import rcParams

rcParams['figure.figsize'] = 12, 6 # el primer dígito es el ancho y el segundo el alto
rcParams["font.weight"] = "bold"
rcParams["font.size"] = 10
rcParams["axes.labelweight"] = "bold"

df_covid = pd.read_csv("CoviData.csv")

In [48]:
df_covid

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,03/05/2020,97,1,65,2,2,...,2,2,1,2,2,2,2,2,3,97
1,2,1,2,1,03/06/2020,97,1,72,97,2,...,2,2,1,2,2,1,1,2,5,97
2,2,1,2,2,09/06/2020,1,2,55,97,1,...,2,2,2,2,2,2,2,2,3,2
3,2,1,1,1,12/06/2020,97,2,53,2,2,...,2,2,2,2,2,2,2,2,7,97
4,2,1,2,1,21/06/2020,97,2,68,97,1,...,2,2,1,2,2,2,2,2,3,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2,13,2,1,9999-99-99,97,2,40,97,2,...,2,2,2,2,2,2,2,2,7,97
1048571,1,13,2,2,9999-99-99,2,2,51,97,2,...,2,2,1,2,2,2,2,2,7,2
1048572,2,13,2,1,9999-99-99,97,2,55,97,2,...,2,2,2,2,2,2,2,2,7,97
1048573,2,13,2,1,9999-99-99,97,2,28,97,2,...,2,2,2,2,2,2,2,2,7,97
1048574,2,13,2,1,9999-99-99,97,2,52,97,2,...,2,2,2,2,2,2,2,2,7,97

In [49]:
df_covid2 = df_covid[df_covid["DATE_DIED"] != "9999-99-99"] #eliminamos las filas con fechas raras
df_covid2 = df_covid2[df_covid2['DATE_DIED'] != '']#eliminamos valores vacios
df_covid2

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,03/05/2020,97,1,65,2,2,...,2,2,1,2,2,2,2,2,3,97
1,2,1,2,1,03/06/2020,97,1,72,97,2,...,2,2,1,2,2,1,1,2,5,97
2,2,1,2,2,09/06/2020,1,2,55,97,1,...,2,2,2,2,2,2,2,2,3,2
3,2,1,1,1,12/06/2020,97,2,53,2,2,...,2,2,2,2,2,2,2,2,7,97
4,2,1,2,1,21/06/2020,97,2,68,97,1,...,2,2,1,2,2,2,2,2,3,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1047635,1,13,2,2,18/07/2020,1,1,73,97,2,...,2,2,1,2,2,1,2,2,3,2
1047636,1,13,2,1,26/07/2020,97,1,82,97,2,...,2,2,1,2,2,2,2,2,3,97
1047637,1,13,1,1,27/07/2020,97,1,82,2,2,...,2,2,2,2,2,2,2,2,3,97
1047638,1,13,2,2,29/07/2020,1,1,80,97,2,...,2,2,2,2,2,1,2,2,3,2
1047639,1,13,2,2,29/07/2020,2,1,61,97,1,...,2,2,1,2,2,2,1,1,7,2

In [ ]:
df_covid2.describe()

In [ ]:
df_covid2["DATE_DIED"].value_counts()

In [50]:
df_covid2['DATE_DIED'] = pd.to_datetime(df_covid2['DATE_DIED'], format='%d/%m/%Y') #los datos que son fechas les cambiamos el formato
df_covid2['DATE_DIED'] = df_covid2['DATE_DIED'].dt.strftime('%m%Y')#de 25/7/2020 a 072020 para que asi sea un dato numerico
df_covid2['DATE_DIED'] = df_covid2['DATE_DIED'].astype('int64')#cambiamos el tipo a int64

In [ ]:
df_covid2

In [ ]:
df_covid2["DATE_DIED"].value_counts()

In [ ]:
df_covid2.dtypes

In [ ]:
df_covid2["PREGNANT"].value_counts()

In [51]:
df_covid2 = df_covid2[df_covid2['OBESITY'].isin([97,2]) & df_covid2['OTHER_DISEASE'].isin([1,2]) & df_covid2['ASTHMA'].isin([1,2])& df_covid2['TOBACCO'].isin([1,2])& df_covid2['DIABETES'].isin([97,2]) & df_covid2['CARDIOVASCULAR'].isin([1,2]) & df_covid2['INMSUPR'].isin([1,2]) & df_covid2['INTUBED'].isin([1,2]) & df_covid2['RENAL_CHRONIC'].isin([1,2]) & df_covid2['PNEUMONIA'].isin([1,2])]
#eliminamos todo topo de dato que no se a 1 o 2

In [58]:
df_covid2["PREGNANT"].replace({97: 1}, inplace=True)
df_covid2["ASTHMA"].value_counts()

C:\Users\JOSE ANTONIO\AppData\Local\Temp\ipykernel_7092\1037593735.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_covid2["PREGNANT"].replace({97: 1}, inplace=True)

2    32730
1      494
Name: ASTHMA, dtype: int64

In [57]:
df_covid2

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
152,1,2,2,2,42020,1,1,14,1,2,...,2,2,2,2,2,2,2,2,7,2
153,1,2,1,2,52020,1,2,0,2,2,...,2,2,2,2,2,2,2,2,7,2
154,1,2,2,2,52020,1,1,17,1,2,...,2,2,2,2,2,2,2,2,7,2
330,1,3,1,2,32020,1,2,64,2,2,...,2,2,2,1,2,2,1,2,7,1
332,1,3,2,2,32020,2,1,54,1,2,...,2,2,2,2,2,2,2,2,7,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1047619,1,13,1,2,62020,2,2,88,2,2,...,2,2,2,2,2,2,2,2,7,2
1047626,1,13,1,2,72020,2,2,64,2,2,...,2,2,2,2,2,2,2,2,3,2
1047627,1,13,2,2,72020,2,1,77,1,2,...,2,2,2,2,2,2,2,1,3,2
1047631,1,13,2,2,72020,2,1,65,1,2,...,2,2,2,2,2,2,2,2,3,2
1047634,1,13,1,2,72020,2,2,79,2,2,...,2,2,1,2,2,2,2,2,3,2

In [54]:
# Importar el algoritmo de árboles de decisión
from sklearn.tree import DecisionTreeRegressor
target = 'AGE'
features = [x for x in df_covid2.columns if x != target]


# Asignar el algortimo e indicar la profundidad máxima del árbol (con un número rotandamente grande para sobreajustar)
arbol_importancia = DecisionTreeRegressor(max_depth=len(features)+10, random_state=42)

# Entrenar un árbol con todo el conjunto de datos
arbol_importancia.fit(X=df_covid2[features], y=df_covid2[target])

DecisionTreeRegressor(max_depth=30, random_state=42)

In [55]:
# Comprobamos que se obtiene un R^2 muy alto. Lo desesable es que sea 1.
y_pred_arbol = arbol_importancia.predict(X=df_covid2[features])

from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

# Métricas para evaluar la calidad del modelo
print('Mean Absolute Error:', mean_absolute_error(df_covid2[target], y_pred_arbol))
print('Mean Absolute Percentage Error:', mean_absolute_percentage_error(df_covid2[target], y_pred_arbol)*100)
print('Mean Squared Error:', mean_squared_error(df_covid2[target], y_pred_arbol))
print('Root Mean Squared Error:', np.sqrt(mean_squared_error(df_covid2[target], y_pred_arbol)))
print('R^2 coefficient of determination:', r2_score(df_covid2[target], y_pred_arbol))

Mean Absolute Error: 9.517082943416664
Mean Absolute Percentage Error: 7.718605951983003e+16
Mean Squared Error: 175.57953213114996
Root Mean Squared Error: 13.250642706342585
R^2 coefficient of determination: 0.39937744243779916