# Importamos Librerias

In [5]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

# Visualizacion del Datsaset

Fijamos lo parametros, con pandas leemos el csv y mediante .head() imrimimos las primeras filas

In [6]:
# Modificamos los par√°metros de los gr√°ficos en matplotlib
from matplotlib.pyplot import rcParams

rcParams['figure.figsize'] = 12, 6 # el primer d√≠gito es el ancho y el segundo el alto
rcParams["font.weight"] = "bold"
rcParams["font.size"] = 10
rcParams["axes.labelweight"] = "bold"

df_tweets = pd.read_csv("vaccination_all_tweets.csv")

In [7]:
df_tweets.head(3)

,id,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,retweets,favorites,is_retweet
0,1340539111971516416,Rachel Roh,"La Crescenta-Montrose, CA",Aggregator of Asian American news; scanning di...,2009-04-08 17:52:46,405,1692,3247,False,2020-12-20 06:06:44,Same folks said daikon paste could treat a cyt...,['PfizerBioNTech'],Twitter for Android,0,0,False
1,1338158543359250433,Albert Fong,"San Francisco, CA","Marketing dude, tech geek, heavy metal & '80s ...",2009-09-21 15:27:30,834,666,178,False,2020-12-13 16:27:13,While the world has been on the wrong side of ...,NaN,Twitter Web App,1,1,False
2,1337858199140118533,eliüá±üáπüá™üá∫üëå,Your Bed,"heil, hydra üñê‚ò∫",2020-06-25 23:30:28,10,88,155,False,2020-12-12 20:33:45,#coronavirus #SputnikV #AstraZeneca #PfizerBio...,"['coronavirus', 'SputnikV', 'AstraZeneca', 'Pf...",Twitter for Android,0,0,False

# Limpieza del dataset

Vamos a hacer una limpieza de nuestro dataset de forma que eliminemos todos aquellos datos nulos o bien que se repitan, eliminemos aquellas columnas cuya informacion no es relevante

## Datos nulos

Comprobamos el numero de datos nulos con el metodo .isna().sum() y el tipo de dato de cada columna con el .info()

In [8]:
df_tweets.isna().sum()

id                      0
user_name               2
user_location       66911
user_description    17018
user_created            0
user_followers          0
user_friends            0
user_favourites         0
user_verified           0
date                    0
text                    0
hashtags            49703
source                119
retweets                0
favorites               0
is_retweet              0
dtype: int64

In [9]:
df_tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228207 entries, 0 to 228206
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                228207 non-null  int64
 1   user_name         228205 non-null  object
 2   user_location     161296 non-null  object
 3   user_description  211189 non-null  object
 4   user_created      228207 non-null  object
 5   user_followers    228207 non-null  int64
 6   user_friends      228207 non-null  int64
 7   user_favourites   228207 non-null  int64
 8   user_verified     228207 non-null  bool
 9   date              228207 non-null  object
 10  text              228207 non-null  object
 11  hashtags          178504 non-null  object
 12  source            228088 non-null  object
 13  retweets          228207 non-null  int64
 14  favorites         228207 non-null  int64
 15  is_retweet        228207 non-null  bool
dtypes: bool(2), int64(6), object(8)
memory usage: 24.8+ MB

Obtenemos datos estadisticos interesantes como la media, desviacion tipica...

In [10]:
round(df_tweets.describe(), 2)

,id,user_followers,user_friends,user_favourites,retweets,favorites
count,2.282070e+05,228207.00,228207.00,228207.00,228207.00,228207.00
mean,1.407541e+18,96053.93,986.74,12104.17,2.49,10.82
std,2.908485e+16,838905.31,5293.50,39082.33,51.08,199.53
min,1.337728e+18,0.00,0.00,0.00,0.00,0.00
25%,1.381940e+18,55.00,27.00,57.00,0.00,0.00
50%,1.408133e+18,328.00,229.00,996.00,0.00,0.00
75%,1.428688e+18,1521.00,794.00,7300.00,1.00,2.00
max,1.463251e+18,16353048.00,582461.00,1299600.00,12294.00,54017.00

Eliminamos los valores nulos mediante el metodo .dropna()

In [11]:
df_tweets = df_tweets.dropna()

Observamos como no hay datos nulos

In [12]:
df_tweets.isna().sum()

id                  0
user_name           0
user_location       0
user_description    0
user_created        0
user_followers      0
user_friends        0
user_favourites     0
user_verified       0
date                0
text                0
hashtags            0
source              0
retweets            0
favorites           0
is_retweet          0
dtype: int64

## Datos repetidos

In [13]:
datos_repetidos = df_tweets.duplicated().sum()
print("Hay {} datos repetidos".format(datos_repetidos))

Hay 0 datos repetidos

## Columnas innecesarias

In [14]:
df_tweets.dtypes[df_tweets.dtypes == "object"]

user_name           object
user_location       object
user_description    object
user_created        object
date                object
text                object
hashtags            object
source              object
dtype: object

Las columnas que no nos dan ningun tipo de dato como el name_user o la user_description las eliminamos ya que no tienen relevancia

In [18]:
columnas_no_informativas = ["user_name", "user_description", "user_created", "retweets","favorites", "is_retweet"]
df_tweets_2 = df_tweets.drop(columns = columnas_no_informativas)

In [19]:
df_tweets_2

,id,user_location,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source
0,1340539111971516416,"La Crescenta-Montrose, CA",405,1692,3247,False,2020-12-20 06:06:44,Same folks said daikon paste could treat a cyt...,['PfizerBioNTech'],Twitter for Android
2,1337858199140118533,Your Bed,10,88,155,False,2020-12-12 20:33:45,#coronavirus #SputnikV #AstraZeneca #PfizerBio...,"['coronavirus', 'SputnikV', 'AstraZeneca', 'Pf...",Twitter for Android
6,1337851215875608579,"Austria, Ukraine and Kosovo",2731,5001,69344,False,2020-12-12 20:06:00,it is a bit sad to claim the fame for success ...,['vaccination'],Twitter Web App
9,1337842295857623042,Islamabad,671,2368,20469,False,2020-12-12 19:30:33,#CovidVaccine \n\nStates will start getting #C...,"['CovidVaccine', 'COVID19Vaccine', 'US', 'paku...",Twitter Web App
10,1337841934170255365,Turkey-Israel,1302,78,339,False,2020-12-12 19:29:07,"while deaths are closing in on the 300,000 mar...","['PfizerBioNTech', 'Vaccine']",Twitter Web App
...,...,...,...,...,...,...,...,...,...,...
228202,1460170772299665408,"Bengaluru, India",31,0,0,False,2021-11-15 09:00:15,45+ #URBAN #Bengaluru #CovidVaccine Availabili...,"['URBAN', 'Bengaluru', 'CovidVaccine', 'COVISH...",VaxBlr
228203,1460163268262051841,"Bengaluru, India",31,0,0,False,2021-11-15 08:30:26,18-44 #BBMP #Bengaluru #CovidVaccine Availabil...,"['BBMP', 'Bengaluru', 'CovidVaccine', 'COVISHI...",VaxBlr
228204,1460163224221851655,"Bengaluru, India",31,0,0,False,2021-11-15 08:30:15,18-44 #URBAN #Bengaluru #CovidVaccine Availabi...,"['URBAN', 'Bengaluru', 'CovidVaccine', 'COVISH...",VaxBlr
228205,1460156376995573765,Southern Africa,8103,3113,45726,False,2021-11-15 08:03:03,They promote their Vaccines leaving out the st...,['SputnikV'],Twitter for Android
228206,1460155671140134912,"Bengaluru, India",31,0,0,False,2021-11-15 08:00:15,45+ #URBAN #Bengaluru #CovidVaccine Availabili...,"['URBAN', 'Bengaluru', 'CovidVaccine', 'COVISH...",VaxBlr

Un dato interesante es ver de donde son la mayor cantidad de tweets

In [20]:
df_tweets_2["user_location"].value_counts()

Bengaluru, India                  7237
India                             6335
New Delhi, India                  2369
Toronto, Canada  and Worldwide    1828
United States                     1508
                                  ...
here & now (...San Diego, CA)        1
Oak Ridge, TN                        1
Camrose, Alberta, Canada             1
Gold Saucer                          1
Southern  Africa                     1
Name: user_location, Length: 21255, dtype: int64