In [60]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [61]:
# Modificamos los par√°metros de los gr√°ficos en matplotlib
from matplotlib.pyplot import rcParams

rcParams['figure.figsize'] = 12, 6 # el primer d√≠gito es el ancho y el segundo el alto
rcParams["font.weight"] = "bold"
rcParams["font.size"] = 10
rcParams["axes.labelweight"] = "bold"

df_tweets = pd.read_csv("covid19_tweets.csv")

In [62]:
df_tweets.head(7)

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
0,·èâ·é•‚òª’¨ÍÇÖœÆ,astroworld,wednesday addams as a disney princess keepin i...,2017-05-26 05:46:42,624,950,18775,False,2020-07-25 12:27:21,If I smelled the scent of hand sanitizers toda...,NaN,Twitter for iPhone,False
1,Tom Basile üá∫üá∏,"New York, NY","Husband, Father, Columnist & Commentator. Auth...",2009-04-16 20:06:23,2253,1677,24,True,2020-07-25 12:27:17,Hey @Yankees @YankeesPR and @MLB - wouldn't it...,NaN,Twitter for Android,False
2,Time4fisticuffs,"Pewee Valley, KY",#Christian #Catholic #Conservative #Reagan #Re...,2009-02-28 18:57:41,9275,9525,7254,False,2020-07-25 12:27:14,@diane3443 @wdunlap @realDonaldTrump Trump nev...,['COVID19'],Twitter for Android,False
3,ethel mertz,Stuck in the Middle,#Browns #Indians #ClevelandProud #[]_[] #Cavs ...,2019-03-07 01:45:06,197,987,1488,False,2020-07-25 12:27:10,@brookbanktv The one gift #COVID19 has give me...,['COVID19'],Twitter for iPhone,False
4,DIPR-J&K,Jammu and Kashmir,üñäÔ∏èOfficial Twitter handle of Department of Inf...,2017-02-12 06:45:15,101009,168,101,False,2020-07-25 12:27:08,25 July : Media Bulletin on Novel #CoronaVirus...,"['CoronaVirusUpdates', 'COVID19']",Twitter for Android,False
5,üéπ Franz Schubert,–ù–æ–≤–æ—Ä–æÃÅ—Å—Å–∏—è,üéº #–ù–æ–≤–æ—Ä–æÃÅ—Å—Å–∏—è #Novorossiya #–æ—Å—Ç–∞–≤–∞–π—Å—è–¥–æ–º–∞ #S...,2018-03-19 16:29:52,1180,1071,1287,False,2020-07-25 12:27:06,#coronavirus #covid19 deaths continue to rise....,"['coronavirus', 'covid19']",Twitter Web App,False
6,hr bartender,"Gainesville, FL",Workplace tips and advice served up in a frien...,2008-08-12 18:19:49,79956,54810,3801,False,2020-07-25 12:27:03,How #COVID19 Will Change Work in General (and ...,"['COVID19', 'Recruiting']",Buffer,False

In [63]:
df_tweets.isna().sum() # Verificando los valores nulos

user_name               0
user_location       36771
user_description    10286
user_created            0
user_followers          0
user_friends            0
user_favourites         0
user_verified           0
date                    0
text                    0
hashtags            51334
source                 77
is_retweet              0
dtype: int64

In [65]:
df_tweets.info() # Verificando los tipos de datos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179108 entries, 0 to 179107
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   user_name         179108 non-null  object
 1   user_location     142337 non-null  object
 2   user_description  168822 non-null  object
 3   user_created      179108 non-null  object
 4   user_followers    179108 non-null  int64
 5   user_friends      179108 non-null  int64
 6   user_favourites   179108 non-null  int64
 7   user_verified     179108 non-null  bool
 8   date              179108 non-null  object
 9   text              179108 non-null  object
 10  hashtags          127774 non-null  object
 11  source            179031 non-null  object
 12  is_retweet        179108 non-null  bool
dtypes: bool(2), int64(3), object(8)
memory usage: 15.4+ MB

In [67]:
round(df_tweets.describe(), 2)

       user_followers  user_friends  user_favourites
count       179108.00     179108.00        179108.00
mean        109055.53       2121.70         14444.11
std         841467.00       9162.55         44522.70
min              0.00          0.00             0.00
25%            172.00        148.00           206.00
50%            992.00        542.00          1791.00
75%           5284.00       1725.25          9388.00
max       49442559.00     497363.00       2047197.00

In [68]:
df_tweets.dtypes[df_tweets.dtypes == "object"]

user_name           object
user_location       object
user_description    object
user_created        object
date                object
text                object
hashtags            object
source              object
dtype: object

In [70]:
columnas_no_informativas = ["user_name", "user_description", "user_created"]
df_tweets_2 = df_tweets.drop(columns = columnas_no_informativas)

In [71]:
df_tweets_2

,user_location,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
0,astroworld,624,950,18775,False,2020-07-25 12:27:21,If I smelled the scent of hand sanitizers toda...,NaN,Twitter for iPhone,False
1,"New York, NY",2253,1677,24,True,2020-07-25 12:27:17,Hey @Yankees @YankeesPR and @MLB - wouldn't it...,NaN,Twitter for Android,False
2,"Pewee Valley, KY",9275,9525,7254,False,2020-07-25 12:27:14,@diane3443 @wdunlap @realDonaldTrump Trump nev...,['COVID19'],Twitter for Android,False
3,Stuck in the Middle,197,987,1488,False,2020-07-25 12:27:10,@brookbanktv The one gift #COVID19 has give me...,['COVID19'],Twitter for iPhone,False
4,Jammu and Kashmir,101009,168,101,False,2020-07-25 12:27:08,25 July : Media Bulletin on Novel #CoronaVirus...,"['CoronaVirusUpdates', 'COVID19']",Twitter for Android,False
...,...,...,...,...,...,...,...,...,...,...
179103,"Ilorin, Nigeria",412,1609,1062,False,2020-08-29 19:44:21,Thanks @IamOhmai for nominating me for the @WH...,['WearAMask'],Twitter for Android,False
179104,Ontario,150,182,7295,False,2020-08-29 19:44:16,2020! The year of insanity! Lol! #COVID19 http...,['COVID19'],Twitter for Android,False
179105,üá®üá¶ Canada,1623,2160,98000,False,2020-08-29 19:44:15,@CTVNews A powerful painting by Juan Lucena. I...,NaN,Twitter Web App,False
179106,New York City,1338,1111,0,False,2020-08-29 19:44:14,"More than 1,200 students test positive for #CO...",['COVID19'],Twitter for iPhone,False
179107,"Aliwal North, South Africa",97,1697,566,False,2020-08-29 19:44:08,I stop when I see a Stop\n\n@SABCNews\n@Izinda...,NaN,Twitter for Android,False

In [72]:
df_tweets_2["user_location"].value_counts()

India                         3741
United States                 2455
New Delhi, India              1721
Mumbai, India                 1401
Washington, DC                1354
                              ...
Crystal Lake, IL                 1
Johnstown, PA                    1
A little east of LAX...          1
#Ireland                         1
Aliwal North, South Africa       1
Name: user_location, Length: 26920, dtype: int64

In [ ]:
df_covid2.dtypes

In [ ]:
df_covid2["PREGNANT"].value_counts()

In [51]:
df_covid2 = df_covid2[df_covid2['OBESITY'].isin([97,2]) & df_covid2['OTHER_DISEASE'].isin([1,2]) & df_covid2['ASTHMA'].isin([1,2])& df_covid2['TOBACCO'].isin([1,2])& df_covid2['DIABETES'].isin([97,2]) & df_covid2['CARDIOVASCULAR'].isin([1,2]) & df_covid2['INMSUPR'].isin([1,2]) & df_covid2['INTUBED'].isin([1,2]) & df_covid2['RENAL_CHRONIC'].isin([1,2]) & df_covid2['PNEUMONIA'].isin([1,2])]
#eliminamos todo topo de dato que no se a 1 o 2

In [58]:
df_covid2["PREGNANT"].replace({97: 1}, inplace=True)
df_covid2["ASTHMA"].value_counts()

C:\Users\JOSE ANTONIO\AppData\Local\Temp\ipykernel_7092\1037593735.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_covid2["PREGNANT"].replace({97: 1}, inplace=True)

2    32730
1      494
Name: ASTHMA, dtype: int64

In [57]:
df_covid2

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
152,1,2,2,2,42020,1,1,14,1,2,...,2,2,2,2,2,2,2,2,7,2
153,1,2,1,2,52020,1,2,0,2,2,...,2,2,2,2,2,2,2,2,7,2
154,1,2,2,2,52020,1,1,17,1,2,...,2,2,2,2,2,2,2,2,7,2
330,1,3,1,2,32020,1,2,64,2,2,...,2,2,2,1,2,2,1,2,7,1
332,1,3,2,2,32020,2,1,54,1,2,...,2,2,2,2,2,2,2,2,7,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1047619,1,13,1,2,62020,2,2,88,2,2,...,2,2,2,2,2,2,2,2,7,2
1047626,1,13,1,2,72020,2,2,64,2,2,...,2,2,2,2,2,2,2,2,3,2
1047627,1,13,2,2,72020,2,1,77,1,2,...,2,2,2,2,2,2,2,1,3,2
1047631,1,13,2,2,72020,2,1,65,1,2,...,2,2,2,2,2,2,2,2,3,2
1047634,1,13,1,2,72020,2,2,79,2,2,...,2,2,1,2,2,2,2,2,3,2

In [54]:
# Importar el algoritmo de √°rboles de decisi√≥n
from sklearn.tree import DecisionTreeRegressor
target = 'AGE'
features = [x for x in df_covid2.columns if x != target]


# Asignar el algortimo e indicar la profundidad m√°xima del √°rbol (con un n√∫mero rotandamente grande para sobreajustar)
arbol_importancia = DecisionTreeRegressor(max_depth=len(features)+10, random_state=42)

# Entrenar un √°rbol con todo el conjunto de datos
arbol_importancia.fit(X=df_covid2[features], y=df_covid2[target])

DecisionTreeRegressor(max_depth=30, random_state=42)

In [55]:
# Comprobamos que se obtiene un R^2 muy alto. Lo desesable es que sea 1.
y_pred_arbol = arbol_importancia.predict(X=df_covid2[features])

from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

# M√©tricas para evaluar la calidad del modelo
print('Mean Absolute Error:', mean_absolute_error(df_covid2[target], y_pred_arbol))
print('Mean Absolute Percentage Error:', mean_absolute_percentage_error(df_covid2[target], y_pred_arbol)*100)
print('Mean Squared Error:', mean_squared_error(df_covid2[target], y_pred_arbol))
print('Root Mean Squared Error:', np.sqrt(mean_squared_error(df_covid2[target], y_pred_arbol)))
print('R^2 coefficient of determination:', r2_score(df_covid2[target], y_pred_arbol))

Mean Absolute Error: 9.517082943416664
Mean Absolute Percentage Error: 7.718605951983003e+16
Mean Squared Error: 175.57953213114996
Root Mean Squared Error: 13.250642706342585
R^2 coefficient of determination: 0.39937744243779916