# Importamos Librerias

In [82]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

# Visualizacion del Datsaset

Fijamos lo parametros, con pandas leemos el csv y mediante .head() imrimimos las primeras filas

In [83]:
# Modificamos los par√°metros de los gr√°ficos en matplotlib
from matplotlib.pyplot import rcParams

rcParams['figure.figsize'] = 12, 6 # el primer d√≠gito es el ancho y el segundo el alto
rcParams["font.weight"] = "bold"
rcParams["font.size"] = 10
rcParams["axes.labelweight"] = "bold"

df_tweets = pd.read_csv("covid19_tweets.csv")

In [95]:
df_tweets.head(3)

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
2,Time4fisticuffs,"Pewee Valley, KY",#Christian #Catholic #Conservative #Reagan #Re...,2009-02-28 18:57:41,9275,9525,7254,False,2020-07-25 12:27:14,@diane3443 @wdunlap @realDonaldTrump Trump nev...,['COVID19'],Twitter for Android,False
3,ethel mertz,Stuck in the Middle,#Browns #Indians #ClevelandProud #[]_[] #Cavs ...,2019-03-07 01:45:06,197,987,1488,False,2020-07-25 12:27:10,@brookbanktv The one gift #COVID19 has give me...,['COVID19'],Twitter for iPhone,False
4,DIPR-J&K,Jammu and Kashmir,üñäÔ∏èOfficial Twitter handle of Department of Inf...,2017-02-12 06:45:15,101009,168,101,False,2020-07-25 12:27:08,25 July : Media Bulletin on Novel #CoronaVirus...,"['CoronaVirusUpdates', 'COVID19']",Twitter for Android,False

# Limpieza del dataset

Vamos a hacer una limpieza de nuestro dataset de forma que eliminemos todos aquellos datos nulos o bien que se repitan, eliminemos aquellas columnas cuya informacion no es relevante

## Datos nulos

Comprobamos el numero de datos nulos con el metodo .isna().sum() y el tipo de dato de cada columna con el .info()

In [85]:
df_tweets.isna().sum()

user_name               0
user_location       36771
user_description    10286
user_created            0
user_followers          0
user_friends            0
user_favourites         0
user_verified           0
date                    0
text                    0
hashtags            51334
source                 77
is_retweet              0
dtype: int64

In [86]:
df_tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179108 entries, 0 to 179107
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   user_name         179108 non-null  object
 1   user_location     142337 non-null  object
 2   user_description  168822 non-null  object
 3   user_created      179108 non-null  object
 4   user_followers    179108 non-null  int64
 5   user_friends      179108 non-null  int64
 6   user_favourites   179108 non-null  int64
 7   user_verified     179108 non-null  bool
 8   date              179108 non-null  object
 9   text              179108 non-null  object
 10  hashtags          127774 non-null  object
 11  source            179031 non-null  object
 12  is_retweet        179108 non-null  bool
dtypes: bool(2), int64(3), object(8)
memory usage: 15.4+ MB

Obtenemos datos estadisticos interesantes como la media, desviacion tipica...

In [87]:
round(df_tweets.describe(), 2)

       user_followers  user_friends  user_favourites
count       179108.00     179108.00        179108.00
mean        109055.53       2121.70         14444.11
std         841467.00       9162.55         44522.70
min              0.00          0.00             0.00
25%            172.00        148.00           206.00
50%            992.00        542.00          1791.00
75%           5284.00       1725.25          9388.00
max       49442559.00     497363.00       2047197.00

Eliminamos los valores nulos mediante el metodo .dropna()

In [88]:
df_tweets = df_tweets.dropna()

Observamos como no hay datos nulos

In [89]:
df_tweets.isna().sum()

user_name           0
user_location       0
user_description    0
user_created        0
user_followers      0
user_friends        0
user_favourites     0
user_verified       0
date                0
text                0
hashtags            0
source              0
is_retweet          0
dtype: int64

## Datos repetidos

In [90]:
datos_repetidos = df_tweets.duplicated().sum()
print("Hay {} datos repetidos".format(datos_repetidos))

Hay 0 datos repetidos

## Columnas innecesarias

In [91]:
df_tweets.dtypes[df_tweets.dtypes == "object"]

user_name           object
user_location       object
user_description    object
user_created        object
date                object
text                object
hashtags            object
source              object
dtype: object

Las columnas que no nos dan ningun tipo de dato como el name_user o la user_description las eliminamos ya que no tienen relevancia

In [92]:
columnas_no_informativas = ["user_name", "user_description", "user_created"]
df_tweets_2 = df_tweets.drop(columns = columnas_no_informativas)

In [93]:
df_tweets_2

,user_location,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
2,"Pewee Valley, KY",9275,9525,7254,False,2020-07-25 12:27:14,@diane3443 @wdunlap @realDonaldTrump Trump nev...,['COVID19'],Twitter for Android,False
3,Stuck in the Middle,197,987,1488,False,2020-07-25 12:27:10,@brookbanktv The one gift #COVID19 has give me...,['COVID19'],Twitter for iPhone,False
4,Jammu and Kashmir,101009,168,101,False,2020-07-25 12:27:08,25 July : Media Bulletin on Novel #CoronaVirus...,"['CoronaVirusUpdates', 'COVID19']",Twitter for Android,False
5,–ù–æ–≤–æ—Ä–æÃÅ—Å—Å–∏—è,1180,1071,1287,False,2020-07-25 12:27:06,#coronavirus #covid19 deaths continue to rise....,"['coronavirus', 'covid19']",Twitter Web App,False
6,"Gainesville, FL",79956,54810,3801,False,2020-07-25 12:27:03,How #COVID19 Will Change Work in General (and ...,"['COVID19', 'Recruiting']",Buffer,False
...,...,...,...,...,...,...,...,...,...,...
179101,"Newton, NJ",6274,162,38,False,2020-08-29 19:44:27,Wallkill school nurse adds COVID-19 monitoring...,"['nurses', 'COVID19', 'coronavirus', 'schools']",SocialNewsDesk,False
179102,T.O.,251,160,627,False,2020-08-29 19:44:23,"we have reached 25mil cases of #covid19, world...",['covid19'],Twitter Web App,False
179103,"Ilorin, Nigeria",412,1609,1062,False,2020-08-29 19:44:21,Thanks @IamOhmai for nominating me for the @WH...,['WearAMask'],Twitter for Android,False
179104,Ontario,150,182,7295,False,2020-08-29 19:44:16,2020! The year of insanity! Lol! #COVID19 http...,['COVID19'],Twitter for Android,False
179106,New York City,1338,1111,0,False,2020-08-29 19:44:14,"More than 1,200 students test positive for #CO...",['COVID19'],Twitter for iPhone,False

Un dato interesante es ver de donde son la mayor cantidad de tweets

In [94]:
df_tweets_2["user_location"].value_counts()

India                        2928
United States                1728
New Delhi, India             1349
Mumbai, India                1098
Washington, DC                956
                             ...
London, England/Teesside        1
Dickinson, ND                   1
Japan / alpha centuri           1
Carlingford                     1
T.O.                            1
Name: user_location, Length: 20741, dtype: int64